.sectioncontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 96%;
  max-width: inherit;
  height: auto;
  margin: 0 auto;
  background-size: cover;
  background-color: #fffdfa;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;

    width: 96%;
    max-width: inherit;
    height: auto;
    margin: 0 auto;
    background-size: cover;
    background-color: #fffdfa;
  }
}

.cardcontainer {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  padding: 1em;
  max-width: 400px;
  height: 15em;
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  border-bottom: solid 2px rgba(133, 133, 133, 0.1);
}

.iconlabel {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.label {
  padding-left: 10px;
  font-size: 18px;
  margin-bottom: 1em;
  border-bottom: solid 2px rgba(133, 133, 133, 0.1);
  word-break: normal;
}

.description {
  flex: 1;
  font-size: 17px;
  overflow-y: auto;
}
