.inner {
  flex-grow: 1;
  position: relative;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  padding-bottom: 64px;
  max-width: 770px;
  background-color: #fffdfa;
  min-height: 100vh;
}
