.logo {
  display: flex;
  flex-direction: row;
}

.btn {
  color: #666564;
  cursor: pointer;
  opacity: 0.5;
  background-color: inherit;
  border: 0;
  border-radius: 8px;
  padding: 0 8px;
  margin-right: 8px;
  z-index: 30;
}

.btn:hover {
  background-color: #e1e1e1;
}

.sitetitle {
  font-size: 24px;
  color: #666564;
  text-decoration: none;
  position: relative;
}
