.open,
.close {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: #faf9fa;
  width: 0;
  height: 100vh;
  transition: padding-top 0.2s, width 0.2s;
  border-right: 0;
  z-index: 11;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.show {
  padding-top: 80px;
}

.hidden {
  padding-top: 0;
}

.open {
  width: 240px;
  border-right: 2px solid rgba(133, 133, 133, 0.1);
  overflow: initial;
}
