.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 1em;
  box-shadow:
    5px 5px 10px #edebe9,
    -5px -5px 10px #ffffff;
}

.eyecatch,
.defaultEyecatch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #eeeeee;
  border-radius: 12px;
}

.title {
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 1em 0;
  border-top: dotted 3px #999999;
  border-bottom: dotted 3px #999999;
}

.textcontainer {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  padding: 1em;
}

.textcontainer > h2 {
  margin-top: 2em;
}

.textcontainer > hr {
  margin-bottom: 2em;
}

.textcontainer > p {
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 1em;
}
