.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 1em;
}

.eyecatch,
.defaultEyecatch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #eeeeee;
  border-radius: 12px;
}

.title {
  margin-top: 2em;
  margin-bottom: 1em;
  border-bottom: solid 2px rgba(133, 133, 133, 0.1);
}

.textcontainer {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  padding: 1em;
}

.textcontainer > h2 {
  margin-top: 2em;
}

.textcontainer > hr {
  margin-bottom: 2em;
}

.textcontainer > p {
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 1em;
}
