.entries {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 16px;
  font-size: 20px;
  background-color: transparent;
  color: #666564;
}
.entries:hover {
  background-color: #eff4f5;
}

.entries > svg {
  margin-right: 8px;
}
